@tailwind base;
@tailwind components;
@tailwind utilities;

/* Start Normalize */
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "ubuntu", "sans-serif";
  line-height: 1;
  background-color: #1d1d1d;
  color: white;
}

ol,
ul {
  list-style: none;
}
/* End Normalize */
